/* blue is my favorite color */
body {
  background-color: blue;
  color: white;
}
.skills {
  font-weight: bold;
}
div p {
  text-align: center;
  font-weight: bold;
}
div span,
footer a {
  margin: 0px 10px 0px 10px;
}
